<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api-Exchanges</title>
</head>
<body>
    <!-- <form action="usd2mxn/" method="post">
        {% csrf_token %}
        {{form}}
        <button type="submit">USD TO MXN</button>
    </form>

    <form action="mxn2usd/" method="post">
        {% csrf_token %}
        {{form}}
        <button type="submit">MXN TO USD</button>
    </form> -->
    <form action="/" method="post">
        {% csrf_token %}
    
        {{ form }}
    
        <button type="submit" name="convert_to" value="usd2mxn">USD TO MXN</button>
        <button type="submit" name="convert_to" value="mxn2usd">MXN TO USD</button>
    </form>
</body>
</html>